venv/
data/
venv2/
4.2.0
runs/
mlruns/
**.pt
**.h5
**.json
venv3/
**/*.csv
deep_learning/housing_x.csv
**.pyc
**.DS_Store
.env
my_imdb_model
**/__pycache__/**
**/mistral/
**/my_gpt2_sft_alpaca/
**/my_bert/
**.DS_Store
.DS_Store